build

# executables
a.out
main
perimetro 

# objects
*.o

# soluzione
main.soluzione.c
perimetro.soluzione.c

# mac specific
*.dSYM/
.DS_Store

# Do not add .vscode folder to .gitignore! We need it for compiling
